@import "./palette.css";

button {
    all: unset;
}

.bar {
    background-color: transparent;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.bar-component {
    background-color: @prim_bg;
    color: @prim_fg;

    border-radius: 15px;
    padding: 5px 15px;
}

.bar-panel {
    background-color: @prim_bg;
    color: @prim_fg;

    border-radius: 15px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}
